<img id="burgIm" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPXL9SJbKUk7CJAySInQrBdLal6IscNG9svmHbT09VhTFQ6XwS" alt="burger image">         {{!-- burger image  --}}

<h2 id="pageHead">Eat Da Burger!</h2>                             {{!-- html page header  --}}

<form class="create-form">

<div class="form">
    <label id="burgerInput" for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <div>
      <button type="button" class="btn btn-primary">Add Burger</button>

  </div>